<div class="row text-center">
    <div class="col-sm-offset-4 col-sm-4">
        <h3>Sign Up</h3>
        <div class="alert alert-danger" ng-show="ac.error">
            {{ ac.error }}
        </div>
        <div class="well">
            
            <form name="signupForm" role="form" ng-submit="ac.signup(signupForm.$valid)" novalidate>
                <div class="form-group" show-errors>
                    <input 
                        type="text" 
                        id="firstName" 
                        name="firstName" 
                        class="form-control" 
                        ng-model="ac.credentials.firstName" 
                        placeholder="First Name" 
                        lowercase 
                        required>
                    <div 
                        ng-messages="signupForm.firstName.$error" 
                        role="alert">
                        <p 
                            class="help-block error-text" 
                            ng-message="required">First Name is required.</p>
                    </div><!-- ng-messages -->
                </div><!-- form-group -->

                <div class="form-group" show-errors>
                    <input 
                        type="text" 
                        id="lastName" 
                        name="lastName" 
                        class="form-control" 
                        ng-model="ac.credentials.lastName" 
                        placeholder="Last Name" 
                        lowercase 
                        required>
                    <div 
                        ng-messages="signupForm.lastName.$error" 
                        role="alert">
                        <p 
                            class="help-block error-text" 
                            ng-message="required">Last Name is required.</p>
                    </div><!-- ng-messages -->
                </div><!-- form-group -->

                <div class="form-group" show-errors>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        class="form-control" 
                        ng-model="ac.credentials.username" 
                        placeholder="Username" 
                        lowercase 
                        required>
                    <div 
                        ng-messages="signupForm.username.$error" 
                        role="alert">
                        <p 
                            class="help-block error-text" 
                            ng-message="required">Username is required.</p>
                    </div><!-- ng-messages -->
                </div><!-- form-group -->
        
                <div class="form-group" show-errors>
                  <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    class="form-control" 
                    ng-model="ac.credentials.password" 
                    placeholder="Password" 
                    required>
                  <div 
                    ng-messages="signupForm.password.$error" 
                    role="alert">
                    <p class="help-block error-text" ng-message="required">Password is required.</p>
                  </div><!-- ng-messages -->
                </div><!-- form-group -->

                <div class="form-group" show-errors>
                  <input 
                    type="password" 
                    id="confirmPassword" 
                    name="confirmPassword" 
                    class="form-control" 
                    ng-model="ac.credentials.confirmPassword" 
                    placeholder="Confirm Password" 
                    required
                    compare-to="ac.credentials.password">
                  <div 
                    ng-messages="signupForm.confirmPassword.$error" 
                    role="alert">
                    <p class="help-block error-text" ng-message="required">Confirm Password is required.</p>
                    <p class="help-block error-text" ng-message="compareTo">Confirm Password is wrong.</p>
                  </div><!-- ng-messages -->
                </div><!-- form-group -->

                <button 
                    type="submit" 
                    class="btn btn-primary btn-block"
                    ng-disabled="ac.authenticating">
                    <span ng-show="!ac.authenticating">Sign Up</span>
                    <span ng-show="ac.authenticating">Signing...</span>
                </button>
                
                <br>
                <p class="text-center"><small>Have an account?</small></p>
                <a 
                    ui-sref="auth.signin"
                    class="btn btn-sm btn-success">Sign In</a>
            </form><!-- signup -->

        </div><!-- well -->
        <p class="m-t"> <small>Paulo Campos &copy; 2016</small> </p>
    </div><!-- col-sm-12 -->
</div><!-- row -->